name: "Build"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout Repository"
      uses: actions/checkout@v2
    - name: "Build"
      run: dotnet build --configuration Release
    - name: "Upload Artifact"
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: target/dist
        if-no-files-found: error
        compression-level: 9
        include-hidden-files: true
